
doctype
html
    head
        link(rel="stylesheet", href="/lib/bootstrap/dist/css/yeti.css")
        link(rel="stylesheet", href="/css/site.css")
    body
        block main-content

    //include scripts
    include scripts
    include currentUser