script(type="text/javascript" src="lib/jquery/dist/jquery.js")
script(type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="lib/angular/angular.js")
script(type="text/javascript" src="lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="lib/angular-route/angular-route.js")
script(type="text/javascript" src="lib/angular-socket-io/socket.js")
script(type="text/javascript" src="socket.io/socket.io.js")
script(type="text/javascript" src="lib/angular-cookies/angular-cookies.js")
script(type="text/javascript" src="app.js")
script(type="text/javascript" src="bootstrap.js")
script(type="text/javascript" src="lib/ng-file-upload/ng-file-upload.js")

script(type="text/javascript" src="app/resources/user.resource.js")
script(type="text/javascript" src="app/services/authentication.service.js")
script(type="text/javascript" src="app/services/shades.service.js")
script(type="text/javascript" src="app/sockets/chat.socket.js")
script(type="text/javascript" src="app/sockets/newsfeed.socket.js")
script(type="text/javascript" src="app/controllers/authentication.controller.js")

//RESOURCES
script(type="text/javascript" src="app/resources/user.resource.js")
script(type="text/javascript" src="app/resources/post.resource.js")
script(type="text/javascript" src="app/resources/shades.resource.js")
script(type="text/javascript" src="app/resources/message.resource.js")
script(type="text/javascript" src="app/resources/comment.resource.js")

//Services

//NewsFeed
script(type="text/javascript" src="app/services/newsfeed.service.js")

//Messages
script(type="text/javascript" src="app/services/message.service.js")


//Controllers

//Account
script(type="text/javascript" src="app/controllers/authentication.controller.js")
script(type="text/javascript" src="app/controllers/details.controller.js")
script(type="text/javascript" src="app/controllers/profile.controller.js")


//Comments
script(type="text/javascript" src="app/controllers/comments.controller.js")

//Messages
script(type="text/javascript" src="app/controllers/messages.controller.js")

//NewsFeed
script(type="text/javascript" src="app/controllers/newsfeed.controller.js")

//Shades
script(type="text/javascript" src="app/controllers/shades.controller.js")

//Statuses
script(type="text/javascript" src="app/controllers/posts.controller.js")